<div>
<p><%= @game.player_1.name%>'s turn</p>
</div>
<form action="/weapon1" method="post">
  <input type="image" src="rock.png" class="rock" type="submit" value="rock" name="weapon1">
</form>
<form action="/weapon1" method="post">
  <input type="image" src="paper.png" class="paper" type="submit" value="paper" name="weapon1">
</form>
<form action="/weapon1" method="post">
  <input type="image" src="scissors.png" class="scissors" type="submit" value="scissors" name="weapon1">
</form>
