<div>
<p><%= @game.player_2.name %>'s turn</p>
</div>
<% if @game.player_2.is_a?(Computer)%>
  <meta http-equiv="refresh" content="2;URL=/weapon2">
<% end %>
<form action="/weapon2" method="post">
  <input type="image" src="rock.png" class="rock" type="submit" value="rock" name="weapon2">
</form>
<form action="/weapon2" method="post">
  <input type="image" src="paper.png" class="paper" type="submit" value="paper" name="weapon2">
</form>
<form action="/weapon2" method="post">
  <input type="image" src="scissors.png" class="scissors" type="submit" value="scissors" name="weapon2">
</form>
